@mixin auth-shadow {
  box-shadow: inset 0 0 2px rgb(255, 255, 255);
}
$blur-amount: 10px;
$border-radius-amount: 5px;
$border-amount: 1px solid rgb(120, 119, 119);
$font-size-logo: 1px solid rgb(120, 119, 119);
$font-size-region: larger;
$font-size-small: 18px;

.Auth {
  height: 100vh;
  width: 100%;

  &_BrowserView {
    width: 100vw;
    display: flex;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    background-image: url("../../../public/images/background_banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &_Logo {
      overflow-y: scroll;
      box-shadow: 0px 0px 16px white;
      backdrop-filter: blur(30px);
      border-radius: 10px;
      border: 2px solid white;
      padding: 1rem;
      display: flex;
      justify-content: center;
      gap: 20px;
      align-items: center;
      backdrop-filter: blur($blur-amount);
      margin-bottom: 10px;
      &::-webkit-scrollbar {
        display: none;
      }
      &_Image { 
        & img {
          width: 55px;
          height: 50px;
        }
      }
      .div1 {
        font-size: 30px;
        color: white;
        font-weight: 700;
      }
      .div2 {
        font-size: 16px;
        color: white;
      }
    }
    &_Container {
      
      overflow-y: scroll;
      box-shadow: 0px 0px 16px white;

      backdrop-filter: blur(30px);
      border-radius: 10px;
      border: 2px solid white;
      &::-webkit-scrollbar {
        display: none;
      }
      margin-bottom: 100px;
      &_Form {
        width: 450px;
        &_Header {
          margin-bottom: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          & div {
            position: relative;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 1.5rem;
            padding: 0 1rem;
            height: 65px;
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 0px 0px 20px 20px;
            color: rgb(255, 255, 255);
            box-shadow: 0px 0px 16px white;
          }
        }

        &_Body {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          padding: 0 2rem;
          &_Item {
            width: 100%;
            &_Content {
              display: flex;
              align-items: center;
              padding: 0.75rem 1.5rem;
              border-radius: 2rem;
              border: 2px solid white;
              &.Error {
                border: 2px solid red;
              }
              &_Icon {
                margin-left: 0.5rem;
                color: white;
              }
              &_IconEye {
                padding: 0 0.5rem;
                cursor: pointer;
                color: white;
              }

              &_Input {
                display: flex;
                align-items: center;
                width: 100%;
                & input {
                  color: white;
                  width: 100%;
                  background-color: transparent;
                  border: none;
                  font-size: 1rem;
                  &:focus {
                    outline: none;
                  }
                  &::placeholder {
                    color: white;
                    text-transform: capitalize;
                  }
                  &:-webkit-autofill,
                  &:-webkit-autofill:hover,
                  &:-webkit-autofill:focus,
                  &:-webkit-autofill:active {
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: white !important;
                    background-color: transparent !important;
                    caret-color: white; /* Đặt màu con trỏ nháy thành trắng */
                  }
                }
              }
            }
            &_Choice {
              display: flex;
              align-items: center;
              color: black;
              justify-content: space-between;
              & div {
                display: flex;
                color: white;
                align-items: center;
                &:first-child {
                  & input {
                    margin-right: 0.5rem;
                    &[type="checkbox"] {
                      cursor: pointer;
                      width: 1rem;
                      height: 1rem;
                    }
                  }
                }
              }
            }
            &_Validate {
              width: 100%;
              font-size: 14px;
              color: red;
              padding: 2px;
            }
          }
        }

        &_Footer {
          padding: 2rem;
          & button {
            width: 100%;
            border: none;
            background-color: rgba(0, 0, 0, 0.4);
            color: rgb(255, 255, 255);
            border-radius: 2rem;
            font-size: 1rem;
            font-weight: bold;
            padding: 1rem;
            cursor: pointer;
            transition: 0.3s linear;
            &:hover {
              background-color: black;
              color: white;
            }
          }
        }
      }
    }
  }

  &_MobileView {
    background-color: #fff;
    width: 100%;
    height: 100%;
    &_BGTop {
      height: 250px;
      width: 100%;
      position: relative;
      &_Bg {
        width: 100%;
        height: 100%;
        // background-image: url("../../../public/images/plantbackground1.jpg");
        background-size: cover;
        background-position: center;
        & svg {
          width: 100%;
          height: auto;
          position: absolute;
          bottom: -2px;
          z-index: 1;
        }
      }
    }
    &_Title {
      margin-bottom: 30px;
      & h1 {
        font-size: 40px;
        color: #2d642c;
        text-align: center;
        margin: 0;
      }
      & p {
        font-size: $font-size-small;
        color: #bababa;
        text-align: center;
        margin: 0;
      }
    }
    &_Region {
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      min-height: 80%;
      padding: 0 40px;
      &_LoginArea {
        flex: 1;
        &_Input {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 30px 0 0 0;
          padding: 15px;
          border-radius: 16px;
          background-color: rgba(45, 100, 44, 0.3);
          & input {
            width: 100%;
            border: none;
            font-weight: 100;
            padding-left: 10px;
            color: rgba(45, 100, 44, 0.8);
            background-color: transparent;
            font-size: $font-size-small;
            &::placeholder {
              color: rgba(45, 100, 44, 0.8);
            }
            &:focus {
              &::placeholder {
                color: transparent; /* Xóa placeholder khi input được focus */
              }
              outline: none;
            }
          }
          &_Eye {
            cursor: pointer;
            margin-right: 5px;
          }
        }
        &_FeatureArea {
          display: flex;
          justify-content: center;
          align-items: center;
          &_Save {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            margin: 0 12px;
            gap: 5px;
            & input {
              width: 16px;
              height: 16px;
              margin-top: 5px;
              border-radius: 50px;
              cursor: pointer;
            }

            & div:last-child {
              color: #bababa;
            }
          }
          &_ForgetPassword {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin: 0 18px 0 0;
            font-weight: 500;
            color: #2d642c;
          }
        }
      }
      &_ButtonArea {
        flex: 1;
        &_Button {
          width: 100%;
          height: 50px;
          border-radius: 24px;
          overflow: hidden;
          margin: auto;
          & button {
            border: none;
            width: 100%;
            height: 100%;
            background-color: #2d642c;
            color: white;
            font-size: $font-size-region;
          }
          :hover {
            cursor: pointer;
          }
          :focus {
            background-color: rgba(0, 0, 0, 0.6);
          }
        }
        &_Stuff {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;

          &_Text {
            font-size: 14px;
            font-weight: 500;
            color: #bababa;
          }
          &_BtnSignUp {
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
            color: #2d642c;
          }
        }
      }
    }
  }
}
