.DAT_ManagePost {
  font-size: 16px;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 15px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 14px;
  &::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.75rem;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10rem;
    border-width: 0.2rem;
    border-style: solid;
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: transparent;
  }
  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  &::-webkit-scrollbar-track {
    background: inherit;
  }
  &_Container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &_Header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &_Item {
        position: relative;
        background-color: white;
        cursor: pointer;
        box-sizing: border-box;
        transition: 0.3s;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 8px;
        &:hover {
          transition: 0.3s;
          background-color: rgb(233, 233, 233);
        }
        &:first-child {
          justify-content: space-between;
          width: 200px;
        }
        &_Content {
          display: flex;
          justify-content: space-between;
          gap: 1rem;
          align-items: center;
          padding: 0.75rem 1rem;
          font-size: 1rem;
          &_Text {
            font-size: 1rem;
          }
          &_Icon {
            font-size: 1rem;
            display: flex;
            transition: 0.3s;
            align-items: center;
            &.Show {
              transform: rotate(90deg);
              transition: 0.3s;
            }
          }
        }
      }
    }
    &_Sort {
      display: flex;
      gap: 1rem;
      &_Item {
        position: relative;
        background-color: white;
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 1rem;
        box-sizing: border-box;
        transition: 0.3s;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 8px;
        &_Category {
          padding: 0.75rem 1rem;
          display: flex;
          width: 200px;
          border-radius: 10px;
          justify-content: space-between;
          &_Icon {
            display: flex;
            align-items: center;
            &.Show {
              transform: rotate(90deg);
              transition: 0.3s;
            }
          }
          &:hover {
            transition: 0.3s;
            background-color: rgb(233, 233, 233);
          }
        }
        &_Search {
          display: flex;
          padding: 0.75rem 1rem;
          width: 200px;
          & input {
            width: 100%;
            background-color: transparent;
            border: none;
            font-size: 1rem;
            &:focus {
              outline: none;
            }
          }
          &_Icon {
            font-size: 1rem;
            margin-right: 0.5rem;
          }
        }
        &_Date {
          padding: 0.75rem 1rem;
        }
      }
    }
    &_Table {
      & div {
        &:nth-child(2)::-webkit-scrollbar {
          width: 0.75rem;
          height: 0.75rem;
        }
        &:nth-child(2)::-webkit-scrollbar-thumb {
          border-radius: 10rem;
          border-width: 0.2rem;
          border-style: solid;
          background-clip: padding-box;
          background-color: rgba(0, 0, 0, 0.5);
          border-color: transparent;
        }
        &:nth-child(2)::-webkit-scrollbar-button {
          width: 0;
          height: 0;
          display: none;
        }
        &:nth-child(2)::-webkit-scrollbar-corner {
          background-color: transparent;
        }
        &:nth-child(2)::-webkit-scrollbar-track {
          background: inherit;
        }
      }
    }
  }
}
.DropDownMenu {
  display: none;
  position: absolute;
  z-index: 11111;
  top: 55px;
  width: max-content;
  min-width: 200px;
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 8px;
  left: 0;
  right: 0;
  &_Null {
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    &:hover {
      border-radius: 10px;
      background-color: #ddd;
    }
  }
  &_Item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    &_Text {
      font-size: 1rem;
      padding: 0.5rem;
      width: 100%;
      &:hover {
        border-radius: 10px;
        background-color: #ddd;
      }
    }
    &_Icon {
      display: flex;
      gap: 0.5rem;
      font-size: 1rem;
      & svg {
        &:first-child {
          color: #0066ff;
        }
        &:last-child {
          color: red;
        }
        &:hover {
          color: #000;
        }
      }
    }
  }
  &_Add {
    margin-top: 0.25rem;
    padding: 0.5rem;
    background-color: #468bfb;
    border-radius: 10px;
    &_Content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &_Text {
        color: white;
      }
      &_Icon {
        font-size: 1.25renm;
        color: white;
      }
    }

    &:hover {
      background-color: #7faefb;
    }
  }
  &.Show {
    display: block;
  }
}

.Popup {
  position: fixed;
  display: flex;
  z-index: 111;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(234, 236, 249, 0.4);
  &_Ask {
    width: max-content;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
    background-color: white;
    padding: 1rem;
    &_Text {
      padding: 1rem 0;
      font-size: 1.2rem;
      & span {
        color: red;
        text-decoration: underline;
      }
    }
    &_Btn {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      & button {
        cursor: pointer;
        border-radius: 10px;
        padding: 0.5rem 0.75rem;
        color: white;
        width: 100px;
        &:first-child {
          border: 1px solid #1e78ff;
          background-color: #1e78ff;
          &:hover {
            background-color: #5597fb;
          }
        }
        &:last-child {
          border: 1px solid #ff351e;
          background-color: #ff351e;
          &:hover {
            background-color: #fb5644;
          }
        }
      }
    }
  }
  &_Add {
    width: 300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
    background-color: white;
    padding: 1rem;
    &_Close {
      text-align: right;
      margin-bottom: 1rem;
      & svg {
        color: red;
        font-size: 1.25rem;
        &:hover {
          color: #000;
        }
      }
    }
    &_Input {
      & input {
        font-size: 1rem;
        background-color: transparent;
        background-color: #f0f2f5;
        border: none;
        border-radius: 10px;
        padding: 0.75rem 1rem;
        margin-bottom: 0.5rem;
        width: 100%;
        &:focus {
          outline: none;
        }
      }
    }
    &_Btn {
      margin-top: 1rem;
      text-align: right;
      & button {
        cursor: pointer;
        border: 1px solid #1e78ff;
        border-radius: 10px;
        background-color: #1e78ff;
        color: white;
        padding: 0.5rem 0.75rem;
        &:hover {
          background-color: #5597fb;
        }
      }
    }
  }
}

.rdt_Table {
  font-size: 1rem;
  border: 1px solid #ccc;
  &Head {
    &Row {
      background-color: #e6e9f7 !important;
      overflow: hidden;
    }
  }
  &Col {
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    &:last-child {
      border-right: none;
    }
    border-right: 1px solid #ccc;
  }

  &Body {
    &:last-child {
      border-right: none;
    }
  }

  &Cell {
    display: flex;
    justify-content: center;
    &:first-child {
      display: flex;
      justify-content: center;
    }
    &:last-child {
      border-right: none;
    }
    border-right: 1px solid #ccc;
  }
  .custom-tooltip {
    z-index: 999; /* Đặt thứ tự hiển thị cao hơn */
    position: absolute; /* Đảm bảo tooltip hiển thị đúng vị trí */
  }
}

.IconDataTable {
  &.Danger {
    &:hover {
      color: red;
    }
  }
  &.Primary {
    &:hover {
      color: rgb(0, 76, 255);
    }
  }
}
.rdt_TableHeader {
  text-align: center;
}
.InputIndex {
  width: 60px;
  height: 25px;
  outline: none;
  border: 1px solid #000;
  padding: 0 5px;
  box-sizing: border-box;
}
