.Dat_Toast {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    padding: 10px;

    box-sizing: border-box;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Đảm bảo toast nằm trên các thành phần khác */
  }
  