.Footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  margin-top: auto;
  &_Container {
    width: 95%;
    &_Top {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      &_Item {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        &_Heading {
          text-transform: uppercase;
          font-weight: 600;
          color: white;
          font-size: 1.5rem;
          margin-bottom: 1rem;
          & div {
            height: 35px;
            width: 135px;
            & img {
              width: 100%;
              height: 100%;
            }
          }
        }
        &_Icon {
          display: flex;
          gap: 1rem;
          width: 45px;
          height: 40px;
          cursor: pointer;
          & img {
            width: 100%;
            height: 100%;
          }
        }
        &_List {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          &_Item {
            cursor: pointer;
            color: white;
            font-size: 1.25rem;
            &:hover {
              color: #4dff00;
            }
          }
        }
        &_SendEmail {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 5px;
          overflow: hidden;
          background-color: white;
          & input {
            padding: 0.5rem 1rem;
            font-size: 1rem;
            border: none;
            color: black;
            background-color: transparent;
            &:focus {
              outline: none;
            }
          }
          &_Icon {
            cursor: pointer;
            background-color: #4dff00;
            color: #fff;
            padding: 0.5rem 1rem;
            & svg {
              font-size: 1.25rem;
            }
          }
        }
        &_Text {
          color: white;
          font-size: 1rem;
        }
      }
    }
    &_Devided {
      border: 1px solid #ccc;
      margin: 2rem 0;
    }
    &_Bottom {
      display: flex;
      justify-content: space-between;
      &_Item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        text-transform: uppercase;
        font-size: 1.5rem;
        color: white;
        &_Logo {
          width: 65px;
          height: 55px;
          & img {
            width: 100%;
            height: 100%;
          }
        }
        &_Brand {
          color: white;
          height: 60px;
          & img {
            width: 100%;
            height: 100%;
          }
        }
        &_Copyright {
          font-size: 0.75rem;
          letter-spacing: 1px;
        }
      }
    }
  }
}
.Mobile {
  &_Footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    margin-top: auto;

    &_Container {
      width: 95%;
      display: flex;
      flex-direction: column;
      align-items: center;

      &_Top {
        display: grid;
        grid-template-columns: repeat(2, 1fr); // Thay đổi số cột cho màn hình nhỏ
        gap: 1rem;
        width: 100%;

        &_Item {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          &_Heading {
            text-transform: uppercase;
            font-weight: 600;
            color: white;
            font-size: 1.25rem; // Giảm kích thước font cho màn hình nhỏ
            margin-bottom: 1rem;

            & div {
              height: 30px; // Điều chỉnh kích thước hình ảnh cho màn hình nhỏ
              width: 120px;
              & img {
                width: 100%;
                height: 100%;
              }
            }
          }

          &_Icon {
            display: flex;
            gap: 0.5rem; // Giảm khoảng cách giữa các biểu tượng
            width: 40px;
            height: 35px;
            cursor: pointer;

            & img {
              width: 100%;
              height: 100%;
            }
          }

          &_List {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            &_Item {
              cursor: pointer;
              color: white;
              font-size: 1rem; // Giảm kích thước font cho màn hình nhỏ
              &:hover {
                color: #4dff00;
              }
            }
          }

          &_SendEmail {
            display: flex;
            flex-direction: column; // Đổi hướng để phù hợp với màn hình nhỏ
            width: 100%;
            background-color: white;
            border-radius: 5px;
            overflow: hidden;

            & input {
              padding: 0.5rem;
              font-size: 0.875rem; // Giảm kích thước font cho màn hình nhỏ
              border: none;
              color: black;
              background-color: transparent;

              &:focus {
                outline: none;
              }
            }

            &_Icon {
              cursor: pointer;
              background-color: #4dff00;
              color: #fff;
              padding: 0.5rem;
              & svg {
                font-size: 1.125rem; // Giảm kích thước biểu tượng cho màn hình nhỏ
              }
            }
          }

          &_Text {
            color: white;
            font-size: 0.875rem; // Giảm kích thước font cho màn hình nhỏ
          }
        }
      }

      &_Devided {
        border: 1px solid #ccc;
        margin: 1rem 0; // Giảm khoảng cách cho màn hình nhỏ
      }

      &_Bottom {
        display: flex;
        flex-direction: column; // Đổi hướng cho màn hình nhỏ
        align-items: center;

        &_Item {
          display: flex;
          flex-direction: column; // Đổi hướng cho màn hình nhỏ
          align-items: center;
          gap: 0.5rem; // Giảm khoảng cách giữa các phần tử

          text-transform: uppercase;
          font-size: 1.25rem; // Giảm kích thước font cho màn hình nhỏ
          color: white;

          &_Logo {
            width: 50px; // Giảm kích thước logo cho màn hình nhỏ
            height: 40px;
            & img {
              width: 100%;
              height: 100%;
            }
          }

          &_Brand {
            color: white;
            height: 40px; // Giảm chiều cao cho màn hình nhỏ
            & img {
              width: 100%;
              height: 100%;
            }
          }

          &_Copyright {
            font-size: 0.625rem; // Giảm kích thước font cho màn hình nhỏ
            letter-spacing: 0.5px;
          }
        }
      }
    }
  }
}
