.Home {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: -58px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &_Banner {
    width: 100%;
  }
  &_Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: 100%;
    &_OutStandingPost {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      &_Heading {
        margin-bottom: 1rem;
        text-align: center;
        width: 100%;
        & div {
          display: inline;
          transition: 0.3s;
          cursor: pointer;
          font-size: 1.5rem;
          font-weight: 700;
          text-transform: uppercase;
          &:hover {
            color: rgb(224, 0, 0);
          }
        }
      }
    }
  }
}
.Mobile {
  &Home {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: -58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_Banner {
      width: 100%;
      background-color: black;
    }
    &_Container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 95%;
      height: 100%;
      &_OutStandingPost {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        &_Heading {
          margin-bottom: 1rem;
          text-align: center;
          width: 100%;
          & div {
            display: inline;
            transition: 0.3s;
            cursor: pointer;
            font-size: 1.5rem;
            font-weight: 700;
            text-transform: uppercase;
            &:hover {
              color: rgb(224, 0, 0);
            }
          }
        }
      }
    }
  }
}