.Main {
  width: 100%;
  margin-bottom: 2rem;
  &_Container {
    display: flex;
    height: 400px;
    justify-content: center;
    &_List {
      display: flex;
      gap: 1rem;
      width: 100%;
      &_Item.Hidden {
        padding: 0;
        display: flex;
        justify-content: center;
        width: 15%;
        transition: width 0.5s ease-out, opacity 0.5s ease-out,
          display 0.5s ease-out;
      }
      .Hidden &_Item {
        &_Item {
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: end;
          width: 100px;
        }
        &_Fade {
          background: linear-gradient(to top, black, transparent);
        }
        &_Left {
          justify-content: end;
          &_Heading {
            display: none;
          }
          &_Image {
            transition: width 0.5s ease-out, opacity 0.5s ease-out,
              height 0.5s ease-out;
            width: 100px;
            height: 100px;
            & img {
              height: 100%;
              width: 100%;
            }
          }
          &_Button {
            display: none;
          }
        }
        &_Right {
          display: none;
        }
      }
      &_Item {
        cursor: pointer;
        position: relative;
        display: grid;
        grid-template-columns: 4fr 7fr;
        width: 100%;
        gap: 1rem;
        list-style: none;
        padding: 1rem;
        border-radius: 10px;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: width 0.5s ease-out, opacity 0.5s ease-out;
        box-shadow: 2px 4px 8px rgb(0 0 0 / 50%);
        &_Fade {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          z-index: 1;
          background: linear-gradient(to bottom, black, transparent);
        }
        &.Elevator {
          background-image: url(../../../public/images/elevator.jpg);
        }
        &.Energy {
          background-image: url(../../../public/images/energy.jpg);
        }
        &.Automation {
          background-image: url(../../../public/images/auto.png);
        }
        &_Left {
          display: flex;
          align-items: center;
          flex-direction: column;
          z-index: 1;
          justify-content: center;
          &_Heading {
            display: flex;
            align-items: start;
            text-align: center;
            color: #fff;
            font-size: 30px;
            font-weight: 600;
            height: 100%;
            margin-bottom: 1rem;
          }
          &_Image {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            height: 175px;
            width: 175px;
            transition: width 0.5s ease-out, height 0.5s ease-out;
            & img {
              height: 100%;
              width: 100%;
            }
          }
          &_Button {
            height: 100%;
            display: flex;
            align-items: end;
            & button {
              color: #000000;
              font-size: 1rem;
              border: none;
              border-radius: 10px;
              font-weight: 600;
              padding: 0.75rem 1rem;
              background-color: white;
              cursor: pointer;
              transition: 0.3s;
              &:hover {
                transition: 0.3s;
                background-color: #4eff01;
                color: rgb(69, 69, 69);
              }
            }
          }
        }
        &_Right {
          display: flex;
          flex-direction: column;
          z-index: 1;
          &_Heading {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            text-align: center;
            &_Title {
              color: #fff;
              font-size: 30px;
              font-weight: 600;
            }
            &_SubTitle {
              color: #ffffffb3;
              margin-bottom: 1rem;
              font-size: 16px;
            }
          }
          &_QR {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 100%;
            gap: 20px;
            @keyframes openQR {
              0% {
                height: 35px;
                width: 40px;
              }
              100% {
                width: 150px;
                height: 150px;
              }
            }
            @keyframes openIcon {
              0% {
                height: 0px;
                width: 0px;
              }
              100% {
                width: 50px;
                height: 50px;
              }
            }
            &_Type {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              &_Img {
                animation: openQR 0.5s linear;
                width: 150px;
                height: 150px;
                margin-bottom: 3rem;
              }
              &_Download {
                display: grid;
                gap: 1rem;
                background-color: #000000;
                border-radius: 10px;
                padding: 0.5rem 1rem;
                &_Item {
                  display: flex;
                  align-items: center;
                  gap: 1rem;
                  &_Logo {
                    width: 35px;
                    height: 40px;
                    & img {
                      width: 100%;
                      height: 100%;
                    }
                  }
                  &_Content {
                    color: white;
                    & div {
                      &:first-child {
                        letter-spacing: 1px;
                        font-weight: 600;
                        text-transform: uppercase;
                        font-size: 0.75rem;
                        text-wrap: nowrap;
                      }
                      &:last-child {
                        font-weight: 600;
                        text-transform: capitalize;
                        font-size: 1.5rem;
                        text-wrap: nowrap;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.Mobile {
  &_Main {
    width: 100%;
    margin-bottom: 1rem; // Giảm khoảng cách dưới
    &_Container {
      display: flex;
      height: 250px; // Giảm chiều cao
      justify-content: center;
      align-items: center;
      overflow: hidden;
      &_List {
        display: flex;
        gap: 0.5rem; // Giảm khoảng cách giữa các phần tử
        width: 100%;
        overflow-x: auto; // Thêm cuộn ngang nếu cần

        &_Item {
          cursor: pointer;
          position: relative;
          display: grid;
          grid-template-columns: 2fr 5fr; // Điều chỉnh tỷ lệ cột
          width: 70%; // Giảm chiều rộng
          gap: 0.5rem;
          list-style: none;
          padding: 0.5rem; // Giảm khoảng cách nội bộ
          border-radius: 6px; // Giảm bo tròn
          overflow: hidden;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          transition: width 0.3s ease, opacity 0.3s ease;
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3); // Giảm kích thước bóng

          &_Fade {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);
          }

          &.Elevator {
            background-image: url(../../../public/images/elevator.jpg);
          }

          &.Energy {
            background-image: url(../../../public/images/energy.jpg);
          }

          &.Automation {
            background-image: url(../../../public/images/auto.png);
          }

          &_Left {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 1;
            overflow: auto; // Thêm cuộn nếu nội dung tràn

            &_Heading {
              text-align: center;
              color: #fff;
              font-size: 12px; // Giảm kích thước font
              font-weight: 400; // Giảm độ đậm
              margin-bottom: 0.5rem; // Giảm khoảng cách dưới
              overflow: auto; // Thêm cuộn nếu nội dung tràn
              white-space: nowrap; // Ngăn chặn dòng chữ bị bẻ
            }

            &_Image {
              height: 100px; // Giảm kích thước
              width: 100px; // Giảm kích thước
              margin-bottom: 0.5rem;
              transition: width 0.3s ease, height 0.3s ease;

              & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            &_Button {
              display: flex;
              align-items: flex-end;
              height: 100%;

              & button {
                background-color: white;
                color: #000;
                font-size: 0.625rem; // Giảm kích thước font
                border: none;
                border-radius: 6px; // Giảm bo tròn
                font-weight: 400; // Giảm độ đậm
                padding: 0.5rem 0.75rem; // Giảm padding
                cursor: pointer;
                transition: background-color 0.3s, color 0.3s;

                &:hover {
                  background-color: #4eff01;
                  color: rgb(69, 69, 69);
                }
              }
            }
          }

          &_Right {
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 1;
            justify-content: center;
            overflow: auto; // Thêm cuộn nếu nội dung tràn

            &_Heading {
              text-align: center;
              margin-bottom: 0.5rem;

              &_Title {
                color: #fff;
                font-size: 14px; // Giảm kích thước font
                font-weight: 400; // Giảm độ đậm
              }

              &_SubTitle {
                color: rgba(255, 255, 255, 0.8);
                font-size: 10px; // Giảm kích thước font
              }
            }

            &_QR {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              gap: 10px; // Giảm khoảng cách giữa các phần tử
              height: auto; // Tự động thay đổi chiều cao

              &_Type {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px; // Khoảng cách giữa các QR code

                &_Img {
                  width: 100px; // Giảm kích thước
                  height: 100px; // Giảm kích thước
                  animation: openQR 0.3s ease-out; // Thay đổi animation cho mượt mà
                }

                &_Download {
                  display: grid;
                  gap: 0.5rem; // Giảm khoảng cách
                  background-color: #000;
                  border-radius: 6px; // Giảm bo tròn
                  padding: 0.5rem 0.75rem; // Giảm padding

                  &_Item {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem; // Giảm khoảng cách

                    &_Logo {
                      width: 20px; // Giảm kích thước
                      height: 20px; // Giảm kích thước

                      & img {
                        width: 100%;
                        height: 100%;
                      }
                    }

                    &_Content {
                      color: white;

                      & div {
                        &:first-child {
                          letter-spacing: 0.5px; // Giảm khoảng cách chữ
                          font-weight: 400; // Giảm độ đậm
                          text-transform: uppercase;
                          font-size: 0.625rem; // Giảm kích thước font
                        }

                        &:last-child {
                          font-weight: 400; // Giảm độ đậm
                          text-transform: capitalize;
                          font-size: 1rem; // Giảm kích thước font
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          &.Hidden {
            width: 20%;
            padding: 0;
            display: flex;
            justify-content: center;
            transition: width 0.3s ease, opacity 0.3s ease;

            &_Fade {
              background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
            }

            &_Left {
              &_Heading {
                display: none;
              }

              &_Image {
                width: 80px; // Giảm kích thước
                height: 80px; // Giảm kích thước
                transition: width 0.3s ease, height 0.3s ease;

                & img {
                  width: 100%;
                  height: 100%;
                }
              }

              &_Button {
                display: none;
              }
            }

            &_Right {
              display: none;
            }
          }
        }
      }
    }
  }

  @keyframes openQR {
    0% {
      width: 20px;
      height: 20px;
    }
    100% {
      width: 100px;
      height: 100px;
    }
  }
}





