.Dat_Setting {
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 10px 25px;
  box-sizing: border-box;
  border-radius: 10px;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 14px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &_Body {
    margin-bottom: 1.5rem;
    width: 600px;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 1rem;
    & h1 {
      text-transform: capitalize;
      font-size: 2rem;
    }
    &_Changepassword {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
      &_Title {
        margin-bottom: 0.5rem;
      }
      &_Inputcontainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #ddd;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        margin-top: 5px;
        width: 60%;
        font-size: 1.25rem;
        .Icon {
          width: 20px;
          height: 20px;
          cursor: pointer;
          &:hover {
            color: #474747;
          }
        }

        .Input {
          outline: none;
          border: none;
          box-sizing: border-box;
          &::placeholder {
            text-transform: capitalize;
          }
        }
      }
    }

    &_Button {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      & button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        margin-top: 0.5rem;
        cursor: pointer;
        width: 100px;
        border-radius: 5px;
        transition: 0.3s;
        background-color: white;
        &:hover {
          border: 1px solid #606060;
          background-color: #606060;
          transition: 0.3s;
          color: white;
        }
      }
    }
  }
  &_Logout {
    display: flex;
    width: 100%;
    & button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35px;
      margin-top: 0.5rem;
      cursor: pointer;
      width: 100px;
      border-radius: 5px;
      transition: 0.3s;
      background-color: white;
      &:hover {
        border: 1px solid #606060;
        background-color: #606060;
        transition: 0.3s;
        color: white;
      }
    }
  }
}
