.News {
  background-color: white;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 14px;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 10px;
  &_Container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 300px;
    &_Left {
      width: 100%;
      height: 300px;
      border-radius: 10px;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: cover;
      &_Image {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: contain;
        backdrop-filter: blur(5px);
        background-repeat: no-repeat;
      }
    }
    &_Right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      padding: 1rem;
      &_Content {
        height: 100%;
        &_Title {
          cursor: pointer;
          font-size: 1.5rem;
          font-weight: 600;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 1rem;
          &:hover {
            color: gray;
          }
        }
        &_Desc {
          font-size: 1rem;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      &_Footer {
        display: flex;
        &_DateTime {
          font-size: 0.75rem;
          letter-spacing: 1px;
          color: gray;
        }
        &_Arrow {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          cursor: pointer;
          & svg {
            font-size: 1.5rem;
            color: gray;
            &:hover {
              color: black;
            }
          }
        }
      }
    }
  }
}
