.SimpleSlider {
  width: 100%;
  margin: 0 auto 1rem;
  &_Container {
    position: relative; // để vị trí tương đối
    .Slider_Item {
      height: 500px;
      display: flex !important;
      align-items: center;
      overflow: hidden;
      justify-content: center;
      background-color: #fff;
      padding: 1rem 1rem;
      border-radius: 10px;
      &_Content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        &_Text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 1rem;
          width: 100%;
          height: 100%;
          &_Title {
            font-size: 24px;
            color: #333;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &_Desc {
            font-size: 16px;
            color: #777;
            line-height: 1.5;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &_Btn {
            & button {
              padding: 10px 20px;
              font-size: 14px;
              color: #fff;
              background-color: #007bff;
              border: none;
              border-radius: 5px;
              cursor: pointer;
              text-transform: uppercase;
              transition: 0.3s;
              text-decoration: none;
              &:hover {
                transition: 0.3s;
                background-color: #0252a8;
              }
            }
          }
        }

        &_Image {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          border-radius: 10px;
          img {
            max-width: 100%;
            max-height: 500px;
            object-fit: cover;
            border-radius: 10px;
          }
        }
      }
    }
  }

  .slick-list {
    border-radius: 10px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.24);
  }

  /* Định dạng cho các dấu chấm (dots) của slider */
  .slick-dots {
    position: relative;
    background-color: transparent !important;
    bottom: -10px !important; // khoảng cách từ đáy của container
  }

  .slick-dots li button:before {
    font-size: 12px;
    color: #333; // màu sắc cho dấu chấm
  }

  .slick-dots li.slick-active button:before {
    color: #007bff; // màu sắc cho dấu chấm đang hoạt động
  }

  /* Định dạng cho các nút điều hướng (arrow) của slider */
  .slick-prev,
  .slick-next {
    z-index: 1;
    display: none !important;
  }

  .slick-prev:before,
  .slick-next:before {
    left: -15px;
    font-size: 20px;
    top: 45%;
    color: #333; // màu sắc cho nút điều hướng
  }
}

.slick-prev {
  left: 10px !important;
}
.slick-next {
  right: 10px !important;
}
