.Chat {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 14px;
  border-radius: 10px;
  background-color: white;
  width: 100%;
  &_Container {
    height: 100%;
    display: grid;
    grid-template-columns: 4fr 10fr;
    width: 100%;
    &_Sidebar {
      width: 100%;
      height: 100%;
      border-right: 1px solid #ddd;
      &_Header {
        border-bottom: 1px solid #ddd;
        padding: 1rem;
        &_Search {
          display: flex;
          padding: 0.75rem 0.75rem;
          border-radius: 10px;
          background-color: #f0f2f5;
          &_Icon {
            font-size: 1.25rem;
            margin-right: 1rem;
          }
          & input {
            font-size: 1rem;
            border: none;
            background-color: transparent;
            &:focus {
              outline: none;
            }
          }
        }
      }
      &_Conversations {
        padding: 1rem;
        &_Person {
        }
      }
    }
  }
}
