.OutStandingPost {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  &_Container {
    width: 100%;
    &_Style {
      height: 500px;
      margin-bottom: 2rem;
      border-radius: 10px;
      background-color: white;
      padding: 1.5rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 14px;
      width: 100%;
      &_Item {
        height: 100%;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        &_Content {
          backdrop-filter: blur(5px);
          cursor: pointer;
          display: flex;
          border-radius: 10px;
          overflow: hidden;
          gap: 0.5rem;
          align-items: end;
          justify-content: end;
          flex-direction: column;
          position: relative;
          height: 100%;
          width: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          padding: 1rem;
          &_Desc {
            width: 100%;
            z-index: 1;
            color: rgb(211, 211, 211);
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            text-transform: uppercase;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          &_Fade {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: 1;
            background: linear-gradient(
              to top,
              rgba(0, 0, 0, 0.5),
              transparent
            );
          }
          &_Title {
            width: 100%;
            position: relative;
            font-size: 1.5rem;
            font-weight: 500;
            color: white;
            z-index: 1;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            text-transform: uppercase;
            text-overflow: ellipsis;
            overflow: hidden;
            cursor: pointer;
            &:hover {
              color: #dadada;
            }
          }
          &_Date {
            width: 100%;
            position: relative;
            z-index: 1;
            color: rgb(216, 216, 216);
            font-size: 0.75rem;
          }
        }
      }
    }
    &_Style2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      height: 500px;
      width: 100%;
      margin-bottom: 2rem;
      &_Item {
        height: 100%;
        width: 100%;
        border-radius: 10px;
        background-color: white;
        padding: 1.5rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 14px;
        &_Image {
          height: 100%;
          width: 100%;
          border-radius: 10px;
          background-size: cover;
          background-repeat: no-repeat;
          &_Content {
            cursor: pointer;
            display: flex;
            border-radius: 10px;
            overflow: hidden;
            gap: 0.5rem;
            backdrop-filter: blur(5px);
            align-items: end;
            justify-content: end;
            flex-direction: column;
            position: relative;
            height: 100%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            padding: 1rem;
            &_Fade {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              top: 0;
              z-index: 1;
              border-radius: 10px;
              background: linear-gradient(
                to top,
                rgba(0, 0, 0, 0.5),
                transparent
              );
            }
            &_Desc {
              width: 100%;
              z-index: 1;
              color: rgb(211, 211, 211);
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              text-transform: uppercase;
              text-overflow: ellipsis;
              overflow: hidden;
            }
            &_Title {
              width: 100%;
              position: relative;
              font-size: 1.5rem;
              font-weight: 500;
              color: white;
              z-index: 1;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              text-transform: uppercase;
              text-overflow: ellipsis;
              overflow: hidden;
              cursor: pointer;
              &:hover {
                color: #dadada;
              }
            }
            &_Date {
              width: 100%;
              position: relative;
              z-index: 1;
              color: rgb(216, 216, 216);
              font-size: 0.75rem;
            }
          }
        }
      }
    }
    &_Style3 {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 1rem;
      height: 500px;
      width: 100%;
      margin-bottom: 2rem;
      &_Left {
        height: 100%;
        width: 100%;
        overflow: hidden;
        padding: 1rem;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 14px;
        border-radius: 10px;
        &_Image {
          height: 100%;
          width: 100%;
          border-radius: 10px;
          overflow: hidden;
          background-size: cover;
          background-repeat: no-repeat;
          &_Content {
            border-radius: 10px;
            overflow: hidden;
            cursor: pointer;
            display: flex;
            gap: 0.5rem;
            align-items: end;
            justify-content: end;
            flex-direction: column;
            position: relative;
            height: 100%;
            border-radius: 10px;
            width: 100%;
            backdrop-filter: blur(5px);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            padding: 1rem;
            &_Fade {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              top: 0;
              z-index: 1;
              background: linear-gradient(
                to top,
                rgba(0, 0, 0, 0.5),
                transparent
              );
            }
            &_Desc {
              width: 100%;
              z-index: 1;
              color: rgb(211, 211, 211);
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              text-transform: uppercase;
              text-overflow: ellipsis;
              overflow: hidden;
            }
            &_Title {
              position: relative;
              font-size: 1.5rem;
              font-weight: 500;
              width: 100%;
              color: white;
              z-index: 1;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              text-transform: uppercase;
              text-overflow: ellipsis;
              overflow: hidden;
              cursor: pointer;
              &:hover {
                color: #dadada;
              }
            }
            &_Date {
              width: 100%;
              position: relative;
              z-index: 1;
              color: rgb(216, 216, 216);
              font-size: 0.75rem;
            }
          }
        }
      }
      &_Right {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        &_Item {
          height: 100%;
          width: 100%;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          border-radius: 10px;
          overflow: hidden;
          padding: 1rem;
          display: grid;
          grid-template-columns: 1.5fr 2fr;
          background-color: white;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 14px;
          border-radius: 10px;
          &_Image {
            border-radius: 10px;
            overflow: hidden;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            &_Content {
              width: 100%;
              height: 100%;
              background-position: center;
              backdrop-filter: blur(5px);
              background-repeat: no-repeat;
              background-size: contain;
              border-radius: 10px;
            }
          }
          &_Content {
            cursor: pointer;
            overflow: hidden;
            gap: 0.5rem;
            border-radius: 10px;
            display: flex;
            padding: 1rem;
            flex-direction: column;
            position: relative;
            &_Title {
              text-transform: uppercase;
              font-size: 1rem;
              color: rgb(0, 0, 0);
              font-weight: 600;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              text-overflow: ellipsis;
              overflow: hidden;
              width: 100%;
              z-index: 11;
              &:hover {
                color: #dadada;
              }
            }
            &_Desc {
              text-transform: uppercase;
              font-size: 1rem;
              color: rgb(0, 0, 0);
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              text-overflow: ellipsis;
              overflow: hidden;
              width: 100%;
              z-index: 11;
            }
            &_Date {
              color: rgb(104, 104, 104);
              z-index: 11;
              font-size: 0.75rem;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
.Mobile_OutStandingPost {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
  &_Container {
    width: 100%;
    
    &_Style {
      height: auto; // Thay đổi để phù hợp với chiều cao tự động
      margin-bottom: 1rem; // Giảm khoảng cách dưới
      border-radius: 10px;
      background-color: white;
      padding: 1rem; // Giảm padding
      box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 8px; // Giảm kích thước bóng
      width: 100%;
      
      &_Item {
        height: 200px; // Giới hạn chiều cao
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 6px; // Giảm kích thước bóng
        border-radius: 8px; // Giảm border-radius
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        
        &_Content {
          backdrop-filter: blur(4px); // Giảm blur
          cursor: pointer;
          display: flex;
          border-radius: 8px; // Giảm border-radius
          overflow: hidden;
          gap: 0.5rem;
          align-items: end;
          justify-content: end;
          flex-direction: column;
          position: relative;
          height: 100%;
          width: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; // Thay đổi thành cover để bao phủ toàn bộ
          padding: 0.5rem; // Giảm padding
          
          &_Desc {
            width: 100%;
            z-index: 1;
            color: rgb(211, 211, 211);
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2; // Tăng số dòng hiển thị
            text-transform: uppercase;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          
          &_Fade {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: 1;
            background: linear-gradient(
              to top,
              rgba(0, 0, 0, 0.5),
              transparent
            );
          }
          
          &_Title {
            width: 100%;
            position: relative;
            font-size: 1.25rem; // Giảm kích thước font
            font-weight: 500;
            color: white;
            z-index: 1;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1; // Giảm số dòng tiêu đề
            text-transform: uppercase;
            text-overflow: ellipsis;
            overflow: hidden;
            cursor: pointer;
            
            &:hover {
              color: #dadada;
            }
          }
          
          &_Date {
            width: 100%;
            position: relative;
            z-index: 1;
            color: rgb(216, 216, 216);
            font-size: 0.65rem; // Giảm kích thước font
          }
        }
      }
    }
    
    &_Style2 {
      display: grid;
      grid-template-columns: 1fr; // Chuyển sang một cột
      gap: 0.5rem; // Giảm khoảng cách giữa các mục
      height: auto; // Thay đổi để chiều cao tự động
      width: 100%;
      margin-bottom: 1rem; // Giảm khoảng cách dưới
      
      &_Item {
        height: 200px; // Giới hạn chiều cao
        width: 100%;
        border-radius: 8px; // Giảm border-radius
        background-color: white;
        padding: 1rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 8px;
        
        &_Image {
          height: 100%;
          width: 100%;
          border-radius: 8px;
          background-size: cover;
          background-repeat: no-repeat;
          
          &_Content {
            cursor: pointer;
            display: flex;
            border-radius: 8px;
            overflow: hidden;
            gap: 0.5rem;
            backdrop-filter: blur(4px); // Giảm blur
            align-items: end;
            justify-content: end;
            flex-direction: column;
            position: relative;
            height: 100%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover; // Thay đổi thành cover để bao phủ toàn bộ
            padding: 0.5rem; // Giảm padding
            
            &_Fade {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              top: 0;
              z-index: 1;
              background: linear-gradient(
                to top,
                rgba(0, 0, 0, 0.5),
                transparent
              );
            }
            
            &_Desc {
              width: 100%;
              z-index: 1;
              color: rgb(211, 211, 211);
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2; // Tăng số dòng hiển thị
              text-transform: uppercase;
              text-overflow: ellipsis;
              overflow: hidden;
            }
            
            &_Title {
              width: 100%;
              position: relative;
              font-size: 1.25rem; // Giảm kích thước font
              font-weight: 500;
              color: white;
              z-index: 1;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1; // Giảm số dòng tiêu đề
              text-transform: uppercase;
              text-overflow: ellipsis;
              overflow: hidden;
              cursor: pointer;
              
              &:hover {
                color: #dadada;
              }
            }
            
            &_Date {
              width: 100%;
              position: relative;
              z-index: 1;
              color: rgb(216, 216, 216);
              font-size: 0.65rem; // Giảm kích thước font
            }
          }
        }
      }
    }
    
    &_Style3 {
      display: grid;
      grid-template-columns: 1fr; // Chuyển sang một cột
      gap: 1rem; // Giảm khoảng cách giữa các mục
      height: auto; // Thay đổi để chiều cao tự động
      width: 100%;
      margin-bottom: 1rem; // Giảm khoảng cách dưới
      
      &_Left {
        height: 200px; // Giới hạn chiều cao
        width: 100%;
        overflow: hidden;
        padding: 1rem;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 8px;
        border-radius: 8px; // Giảm border-radius
        
        &_Image {
          height: 100%;
          width: 100%;
          border-radius: 8px;
          overflow: hidden;
          background-size: cover;
          background-repeat: no-repeat;
          
          &_Content {
            border-radius: 8px;
            overflow: hidden;
            cursor: pointer;
            display: flex;
            gap: 0.5rem;
            align-items: end;
            justify-content: end;
            flex-direction: column;
            position: relative;
            height: 100%;
            border-radius: 8px;
            width: 100%;
            backdrop-filter: blur(4px); // Giảm blur
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover; // Thay đổi thành cover để bao phủ toàn bộ
            padding: 0.5rem; // Giảm padding
            
            &_Fade {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              top: 0;
              z-index: 1;
              background: linear-gradient(
                to top,
                rgba(0, 0, 0, 0.5),
                transparent
              );
            }
            
            &_Desc {
              width: 100%;
              z-index: 1;
              color: rgb(211, 211, 211);
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2; // Tăng số dòng hiển thị
              text-transform: uppercase;
              text-overflow: ellipsis;
              overflow: hidden;
            }
            
            &_Title {
              position: relative;
              font-size: 1.25rem; // Giảm kích thước font
              font-weight: 500;
              width: 100%;
              color: white;
              z-index: 1;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1; // Giảm số dòng tiêu đề
              text-transform: uppercase;
              text-overflow: ellipsis;
              overflow: hidden;
              cursor: pointer;
              
              &:hover {
                color: #dadada;
              }
            }
            
            &_Date {
              width: 100%;
              position: relative;
              z-index: 1;
              color: rgb(216, 216, 216);
              font-size: 0.65rem; // Giảm kích thước font
            }
          }
        }
      }
      
      &_Right {
        display: flex;
        flex-direction: column; // Chuyển thành cột
        gap: 0.5rem; // Giảm khoảng cách giữa các mục
        
        &_Item {
          height: 200px; // Giới hạn chiều cao
          width: 100%;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 6px; // Giảm kích thước bóng
          border-radius: 8px; // Giảm border-radius
          overflow: hidden;
          padding: 0.5rem; // Giảm padding
          display: grid;
          grid-template-columns: 1fr; // Chuyển thành một cột
          background-color: white;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 8px;
          
          &_Image {
            border-radius: 8px;
            overflow: hidden;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            
            &_Content {
              width: 100%;
              height: 100%;
              background-position: center;
              backdrop-filter: blur(4px); // Giảm blur
              background-repeat: no-repeat;
              background-size: cover; // Thay đổi thành cover để bao phủ toàn bộ
              border-radius: 8px;
            }
          }
          
          &_Content {
            cursor: pointer;
            overflow: hidden;
            gap: 0.5rem;
            border-radius: 8px;
            display: flex;
            padding: 0.5rem; // Giảm padding
            flex-direction: column;
            position: relative;
            
            &_Title {
              text-transform: uppercase;
              font-size: 0.875rem; // Giảm kích thước font
              color: rgb(0, 0, 0);
              font-weight: 600;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              text-overflow: ellipsis;
              overflow: hidden;
              width: 100%;
              z-index: 11;
              
              &:hover {
                color: #dadada;
              }
            }
            
            &_Desc {
              text-transform: uppercase;
              font-size: 0.875rem; // Giảm kích thước font
              color: rgb(0, 0, 0);
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              text-overflow: ellipsis;
              overflow: hidden;
              width: 100%;
              z-index: 11;
            }
            
            &_Date {
              color: rgb(104, 104, 104);
              z-index: 11;
              font-size: 0.65rem; // Giảm kích thước font
              width: 100%;
            }
          }
        }
      }
    }
  }
}

