@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@media print {
  body {
    margin: 0 !important;
  }
}

.main-container {
  font-family: "Lato";
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.ck-editor {
  height: 100%;
}

.ck-content {
  font-family: "Lato";
  line-height: 1.6;
  word-break: break-word;
  overflow-y: scroll;
  height: 400px;
}

.ck-source-editing-area {
  height: 400px;
  & textarea {
    overflow-y: scroll !important;
    height: 400px;
  }
}

.editor-container__editor {
  & .Button {
    margin-top: 0.5rem;
    background-color: #ffffff;
    color: #373839;
    border: 2px solid #373839;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease,
      border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    svg {
      margin-left: 0.75rem;
    }

    &:hover {
      background-color: #373839;
      color: #ffffff;
      border-color: #373839;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    }
  }
}

.editor-container_classic-editor .editor-container__editor {
  width: 100%;
  height: 100%;
}

.ChangePost {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 14px;
  border-radius: 10px;
  background-color: white;
  width: 100%;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.75rem;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10rem;
    border-width: 0.2rem;
    border-style: solid;
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: transparent;
  }
  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  &::-webkit-scrollbar-track {
    background: inherit;
  }
  &_CKEditor {
    position: relative;
    &_Header {
      position: relative;
      width: 100%;
      &_Back {
        position: absolute;
        left: 10px;
        top: 10px;
        display: flex;
        font-size: 1.25rem;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 0.5rem;
        cursor: pointer;
        & span {
          display: flex;
          align-items: center;
        }
        &:hover {
          color: #656565;
        }
      }
      &_Heading {
        margin-bottom: 1rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
  &_Container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    &_Header {
      position: relative;
      margin-bottom: 1rem;
      width: 100%;
      &_Back {
        position: absolute;
        left: 10px;
        top: 10px;
        display: flex;
        width: 100%;
        font-size: 1.25rem;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 0.5rem;
        cursor: pointer;
        & span {
          display: flex;
          align-items: center;
        }
        &:hover {
          color: #656565;
        }
      }
      &_Heading {
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
    &_Content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      &_Item {
        width: 100%;
        &_SubItem {
          width: 100%;
          &_Title {
            font-size: 1.25rem;
            font-weight: 500;
            margin-bottom: 0.25rem;
          }
          &_Input {
            width: 100%;
            margin-bottom: 1rem;
            & textarea {
              border-radius: 10px;
              padding: 1rem;
              border: 1px solid #ccc;
              height: 200px;
              font-size: 1.25rem;
              width: 100%;
              resize: none;
              &:focus {
                outline: 1px solid #007bff;
              }
            }
            &_Choose {
              padding: 1rem;
              display: flex;
              gap: 0.5rem;
              border-radius: 10px;
              border: 2px solid #ccc;
              flex-wrap: wrap;
              transition: background-color 0.3s ease;
              & div {
                cursor: pointer;
                text-wrap: nowrap;
                border-radius: 10px;
                height: 35px;
                width: auto;
                padding: 0.5rem;
                display: flex;
                align-items: center;
                background-color: #e6e9f7;
                color: #858585;
                &:hover {
                  background-color: #284eff;
                  color: #e6e9f7;
                }
              }
              .Active {
                color: #e6e9f7;
                background-color: #284eff;
              }
            }
            &_Image {
              padding: 0.5rem;
              border-radius: 10px;
              border: 2px dashed #ccc;
              transition: background-color 0.3s ease;
              height: 200px;
              & img {
                height: 100%;
              }
            }
            &_Upload {
              display: flex;
              flex-direction: column;
              position: relative;
              align-items: center;
              padding: 1rem;
              height: 200px;
              justify-content: space-between;
              border-radius: 10px;
              border: 2px dashed #ccc;
              transition: background-color 0.3s ease;

              & div {
                &:nth-child(1) {
                  font-size: 40px;
                  color: #007bff;
                }
                &:nth-child(2) {
                }
                &:nth-child(3) {
                  overflow: hidden;
                  display: inline-block;
                  input[type="file"] {
                    font-size: 100px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 0;
                  }

                  & label {
                    cursor: pointer;
                    background-color: #007bff;
                    color: white;
                    padding: 10px 20px;
                    font-size: 16px;
                    border-radius: 5px;
                    cursor: pointer;
                    display: inline-block;

                    &:hover {
                      background-color: #0056b3;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &_Btn {
      gap: 1rem;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: flex-end;
      align-items: end;
      margin: 1rem 0;
    }
    & button {
      margin: 0.5rem 0;
      background-color: #ffffff;
      color: #373839;
      border: 2px solid #373839;
      padding: 0.5rem 0.75rem;
      font-size: 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      transition: background-color 0.3s ease, color 0.3s ease,
        border-color 0.3s ease, box-shadow 0.3s ease;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

      svg {
        margin-left: 0.75rem;
      }

      &:hover {
        background-color: #373839;
        color: #ffffff;
        border-color: #373839;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
      }
    }
  }
  &_Pop {
    background-color: rgba(220, 220, 220, 0.6);
    position: fixed;
    left: 0;
    z-index: 1111;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &_Container {
      background-color: white;
      width: 80%;
      padding: 2rem;
      &_Btn {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 1rem;
        & svg {
          cursor: pointer;
          font-size: 1.5rem;
        }
      }
      &_Btn {
        gap: 1rem;
        width: 100%;
        align-items: end;
        margin: 1rem 0;
      }
    }
  }
}
