.NewsDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &_Path {
    width: 95%;
    &_Content {
      font-size: 1rem;
      width: auto;
      color: gray;
      cursor: pointer;
      padding: 1rem 0;
      & span {
        &:last-child {
          color: black;
          font-weight: 500;
        }
        &:hover {
          color: black;
        }
      }
    }
  }
  &_Container {
    width: 95%;
    margin-bottom: 1rem;
    display: grid;
    height: 100%;
    grid-template-columns: 8fr 4fr;
    gap: 1rem;
    &_Body {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      &_Title {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 1rem 0;
        font-size: 1.25rem;
        font-weight: 600;
        &::first-letter {
          text-transform: uppercase;
        }
      }
      &_Content {
        background-color: white;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 14px;
        padding: 1rem;
        border-radius: 10px;
      }
      &_Comment {
        background-color: white;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 14px;
        padding: 1rem;
        border-radius: 10px;
        &_Title {
          font-weight: 600;
          font-size: 1.5rem;
          margin-bottom: 1rem;
        }
        &_Input {
          display: flex;
          align-items: end;
          flex-direction: column;
          gap: 1rem;
          & textarea {
            width: 100%;
            border-radius: 10px;
            padding: 1rem;
            font-size: 1rem;
            height: 100px;
            resize: none;
          }
          & button {
            max-width: 100px;
            border-radius: 10px;
            border: none;
            padding: 0.75rem 2.5rem;
          }
        }
      }
    }
    &_Additional {
      width: 100%;
      height: max-content;
      background-color: white;
      overflow: hidden;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 14px;
      padding: 1rem;
      border-radius: 10px;
      &_Header {
        font-size: 1.25rem;
        color: white;
        background-color: #414141;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        text-transform: uppercase;
      }
      &_Body {
        height: 100%;
        padding: 0.5rem;
        overflow-y: scroll;
        height: 500px;
        &::-webkit-scrollbar {
          width: 0.75rem;
          height: 0.75rem;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 10rem;
          border-width: 0.2rem;
          border-style: solid;
          background-clip: padding-box;
          background-color: rgba(0, 0, 0, 0.5);
          border-color: transparent;
        }
        &::-webkit-scrollbar-button {
          width: 0;
          height: 0;
          display: none;
        }
        &::-webkit-scrollbar-corner {
          background-color: transparent;
        }
        &::-webkit-scrollbar-track {
          background: inherit;
        }
        &_List {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          &_Item {
            cursor: pointer;
            list-style: none;
            background-color: white;
            overflow: hidden;
            padding: 1rem;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 8px;
            width: 100%;
            &:hover {
              box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 14px;
            }
            &_Image {
              width: 100%;
              height: 150px;
              background-repeat: no-repeat;
              background-size: contain;
              margin-bottom: 0.5rem;
              background-position: center;
            }
            &_Title {
              font-size: 1rem;
              font-weight: 500;
              text-transform: capitalize;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }
}
