.ButtonOnTop {
  position: fixed;
  right: 10px;
  bottom: 80px;
  z-index: 1111;
  &_Icon {
    background-color: #4dff00;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 50%;
    display: none;
    cursor: pointer;
    & svg {
      font-size: 30px;
      color: white;
    }
    &.Show {
      display: flex;
      transition: 0.3s;
    }
    &:hover {
      transition: 0.3s;
      background-color: #0056b3;
    }
  }
}
