.ChatBox {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 1111;
  border-radius: 10px;
  &_Icon {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #263ef6;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 50%;
    cursor: pointer;
    & svg {
      font-size: 30px;
      color: white;
    }
    &_Number {
      right: 0;
      top: -5px;
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: red;
      color: white;
      display: flex;
      font-size: 1rem;
      justify-content: center;
      align-items: center;
    }
  }
  &_Pop {
    position: absolute;
    right: 30px;
    bottom: 20px;
    width: 350px;
    background-color: white;
    display: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 14px;
    &.Show {
      display: block;
    }
    &_Info {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1rem;
      &_Logo {
        display: flex;
        overflow: hidden;
        & img {
          width: 45px;
          border-radius: 50%;
          height: 45px;
        }
      }
      &_Content {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        &_Name {
          font-weight: 600;
          font-size: 1rem;
          color: #353535;
        }
        &_Status {
          display: flex;
          gap: 0.25rem;
          align-items: center;
          &_Dot {
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: rgb(0, 255, 0);
          }
          &_Text {
            display: flex;
            align-items: center;
            color: #353535;
          }
        }
      }
      &_Btn {
        position: absolute;
        cursor: pointer;
        right: 15px;
        border-radius: 50%;
        & svg {
          font-size: 1.5rem;
          color: #606060;
          &:hover {
            color: #263ef6;
          }
        }
      }
    }
    &_Message {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      height: 300px;
      width: 100%;
    }
    &_Chat {
      padding: 0.5rem 1rem;
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      &_Icon {
        padding: 0.5rem;
        color: #606060;
        cursor: pointer;
        font-size: 20px;
        &:hover {
          color: #263ef6;
        }
      }
      &_Input {
        display: flex;
        align-items: center;
        width: 100%;
        background-color: #f0f2f5;
        border-radius: 10px;
        & input {
          font-size: 1rem;
          color: #5f5f5f;
          padding: 4px 8px;
          background-color: transparent;
          border: none;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
