.Dat_Menu {
  height: 100%;
  width: max-content;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 14px;
  padding: 0.5rem;
  &_Logo {
    width: 45px;
    height: 40px;
    margin: 1.25rem 0;
  }
  &_Item {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.75rem 1rem;
    width: 120px;
    cursor: pointer;
    margin-bottom: 1rem;
    &_Icon {
      font-size: 1rem;
    }
    &_Text {
      font-size: 1rem;
    }
    &:hover {
      cursor: pointer;
      background-color: rgb(72, 72, 72);
      border-radius: 10px;
      color: white;
    }
    &.Active {
      cursor: pointer;
      background-color: rgb(72, 72, 72);
      border-radius: 10px;
      color: white;
    }
  }
}
