.Header {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 11111;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 1s;
  &.Dark {
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.6);
  }
  &_Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem;
    backdrop-filter: blur(5px);
    gap: 2rem;
    &_Brand {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      &_Logo {
        width: 55px;
        height: 50px;
        & img {
          width: 100%;
          height: 100%;
        }
      }
      &_Name {
        height: 40px;
        & img {
          width: 100%;
          height: 100%;
        }
      }
    }

    &_Nav {
      margin: 0 1rem;
      display: flex;
      gap: 2rem;
      &_List {
        display: flex;
        align-items: center;
        &_Item {
          cursor: pointer;
          padding: 0.75rem 1rem;
          list-style: none;
          border-radius: 10px;
          a {
            text-wrap: nowrap;
            color: white;
            font-size: 1.25rem;
            text-decoration: none;
            &:hover {
              color: rgb(216, 216, 216);
            }
          }
          &:hover {
            a {
              color: rgb(255, 255, 255);
              text-decoration: none;
            }
            &:hover {
              color: white;
              background: rgba(115, 115, 115, 0.5);
            }
          }
        }
        &_Dropdown {
          height: 100%;
          cursor: pointer;
          color: white;
          font-size: 1.25rem;
          position: relative;
          list-style: none;
          display: flex;
          align-items: center;
          text-decoration: none;
          &_Item {
            display: flex;
            align-items: center;
            & span {
              display: flex;
              align-items: center;
              width: 100%;
              margin: 0 0.3rem;
              color: white;
              font-size: 1rem;
            }
          }
          &_Menu {
            position: absolute;
            display: none;
            transition: 0.3s;
            top: 55px;
            right: 0;
            border-radius: 10px;
            border: none;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
            background-color: rgba(0, 0, 0, 0.6);
            padding: 0.5rem;
            z-index: 1000;
            min-width: 200px;
            &.Active {
              display: block;
            }
            &_Item {
              list-style: none;
              cursor: pointer;
              width: 100%;
              padding: 0.75rem 1rem;
              border-radius: 10px;
              a {
                color: rgb(255, 255, 255);
                text-decoration: none;
              }
              &:hover {
                color: white;
                background: rgba(115, 115, 115, 0.5);
              }
            }
            &::after {
              position: absolute;
              content: "";
              height: 20px;
              top: -15px;
              left: 62.5%;
              right: 0;
            }
            &::before {
              position: absolute;
              content: "";
              top: -18px;
              right: 10px;
              border-right: 15px solid transparent;
              border-top: 10px solid transparent;
              border-left: 15px solid transparent;
              border-bottom: 10px solid rgba(0, 0, 0, 0.5);
            }
          }
          &:hover {
            & .Header_Container_Nav_List_Dropdown_Menu {
              transition: 0.3s;
              display: block;
              &:span {
                color: rgba(216, 216, 216, 0.5);
              }
            }
            color: rgb(216, 216, 216);
          }
        }
      }
    }
  }
}
.Mobile {
  &_Header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 11111;
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 1s;

    &.Dark {
      background-color: rgba(0, 0, 0, 0.6);
    }

    &_Container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem;
      backdrop-filter: blur(5px);
      gap: 1rem;

      &_Brand {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;

        &_Logo {
          width: 40px;
          height: 40px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        &_Name {
          height: 30px;
          width: max-content;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      &_Nav {
        margin: 0 0.5rem;
        display: flex;
        gap: 1rem;

        &_List {
          display: flex;
          align-items: center;

          &_Item {
            cursor: pointer;
            padding: 0.5rem 0.75rem;
            list-style: none;
            border-radius: 8px;

            a {
              white-space: nowrap;
              color: white;
              font-size: 1rem;
              text-decoration: none;

              &:hover {
                color: rgb(216, 216, 216);
              }
            }

            &:hover {
              background: rgba(115, 115, 115, 0.5);

              a {
                color: white;
                text-decoration: none;
              }
            }
          }

          &_Dropdown {
            height: 100%;
            cursor: pointer;
            color: white;
            font-size: 1rem;
            position: relative;
            display: flex;
            align-items: center;

            &_Item {
              display: flex;
              align-items: center;

              span {
                display: flex;
                align-items: center;
                width: 100%;
                margin: 0 0.2rem;
                color: white;
                font-size: 0.9rem;
              }
            }

            &_Menu {
              position: absolute;
              top: 45px;
              right: 0;
              display: none;
              transition: display 0.3s;
              border-radius: 8px;
              box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
              background-color: rgba(0, 0, 0, 0.6);
              padding: 0.5rem;
              z-index: 1000;
              min-width: 150px;

              &.Active {
                display: block;
              }

              &_Item {
                list-style: none;
                cursor: pointer;
                width: 100%;
                padding: 0.5rem 0.75rem;
                border-radius: 8px;

                a {
                  color: rgb(255, 255, 255);
                  text-decoration: none;
                }

                &:hover {
                  background: rgba(115, 115, 115, 0.5);
                }
              }

              &::after {
                position: absolute;
                content: "";
                height: 15px;
                top: -12px;
                left: 50%;
                transform: translateX(-50%);
              }

              &::before {
                position: absolute;
                content: "";
                top: -15px;
                right: 10px;
                border-right: 10px solid transparent;
                border-top: 8px solid transparent;
                border-left: 10px solid transparent;
                border-bottom: 8px solid rgba(0, 0, 0, 0.5);
              }
            }

            &:hover {
              &_Menu {
                display: block;
              }

              span {
                color: rgba(216, 216, 216, 0.5);
              }

              color: rgb(216, 216, 216);
            }
          }
        }
      }
    }
  }
}
