.ArticleCategory {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  &_Container {
    width: 95%;
    &_Location {
      color: gray;
      cursor: pointer;
      margin-bottom: 0.5rem;
      & span {
        text-transform: capitalize;
        &:hover {
          color: black;
        }
        &:last-child {
          color: #000;
          font-weight: 500;
        }
      }
    }
    &_Heading {
      font-size: 1.75rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 1rem;
      padding: 1rem 0;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
    }
    &_Content {
      padding: 1rem 0;
      height: 100%;
      &_Highlight {
        width: 100%;
      }
      &_News {
        display: grid;
        grid-template-columns: 8fr 4fr;
        gap: 1rem;
        &_Left {
          &_ViewMore {
            width: 100%;
            text-align: center;
            & button {
              background-color: #ffffff;
              color: #373839;
              border: 2px solid #373839;
              padding: 0.75rem 1rem;
              font-size: 1rem;
              border-radius: 0.5rem;
              cursor: pointer;
            }
          }
        }
        &_Right {
          width: 100%;
          height: max-content;
          background-color: white;
          overflow: hidden;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 14px;
          padding: 1rem;
          border-radius: 10px;
          &_Header {
            font-size: 1.25rem;
            color: white;
            background-color: #414141;
            border-radius: 10px;
            padding: 0.5rem 1rem;
            text-transform: uppercase;
          }
          &_Body {
            height: 100%;
            padding: 0.5rem;
            overflow-y: scroll;
            height: 500px;
            &::-webkit-scrollbar {
              width: 0.75rem;
              height: 0.75rem;
            }
            &::-webkit-scrollbar-thumb {
              border-radius: 10rem;
              border-width: 0.2rem;
              border-style: solid;
              background-clip: padding-box;
              background-color: rgba(0, 0, 0, 0.5);
              border-color: transparent;
            }
            &::-webkit-scrollbar-button {
              width: 0;
              height: 0;
              display: none;
            }
            &::-webkit-scrollbar-corner {
              background-color: transparent;
            }
            &::-webkit-scrollbar-track {
              background: inherit;
            }
            &_List {
              display: flex;
              flex-direction: column;
              gap: 1rem;
              &_Item {
                cursor: pointer;
                list-style: none;
                background-color: white;
                overflow: hidden;
                padding: 1rem;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 8px;
                width: 100%;
                &:hover {
                  box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 14px;
                }
                &_Image {
                  width: 100%;
                  height: 150px;
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-position: center;
                  margin-bottom: 0.5rem;
                }
                &_Title {
                  text-transform: capitalize;
                  display: -webkit-box;
                  -webkit-line-clamp: 3;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              }
            }
          }
        }
      }
    }
  }
}
