.Manage {
  font-size: 16px;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 15px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 14px;
  &::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.75rem;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10rem;
    border-width: 0.2rem;
    border-style: solid;
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: transparent;
  }
  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  &::-webkit-scrollbar-track {
    background: inherit;
  }
  &News {
    &_Header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      &_Sort {
        display: flex;
        gap: 1rem;
        &_Item {
          position: relative;
          background-color: white;
          display: flex;
          align-items: center;
          cursor: pointer;
          gap: 1rem;
          transition: 0.3s;
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 8px;

          &_Category {
            padding: 0.75rem 1rem;
            display: flex;
            width: 200px;
            border-radius: 10px;
            justify-content: space-between;
            &_Icon {
              display: flex;
              transition: 0.3s ease-in-out;
              align-items: center;
            }
            &_Dropdown {
              padding: 1rem;
              display: none;
              position: absolute;
              transition: 0.3s ease-in-out;
              border-radius: 10px;
              top: 55px;
              z-index: 1111;
              left: 0;
              box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 8px;
              background-color: white;
              right: 0;
              &_Item {
                font-size: 1rem;
                padding: 0.5rem;
                width: 100%;
                &:hover {
                  border-radius: 10px;
                  background-color: #ddd;
                }
              }
              &::before {
                position: absolute;
                content: "";
                height: 20px;
                top: -10px;
                left: 0;
                right: 0;
              }
            }
            &:hover &_Dropdown {
              display: block;
            }
            &:hover &_Icon {
              transform: rotate(90deg);
              transition: 0.3s;
            }
          }
          &_Search {
            display: flex;
            padding: 0.75rem 1rem;
            width: 200px;
            & input {
              width: 100%;
              background-color: transparent;
              border: none;
              font-size: 1rem;
              &:focus {
                outline: none;
              }
            }
            &_Icon {
              font-size: 1rem;
              margin-right: 0.5rem;
            }
          }
          &_Date {
            padding: 0.75rem 1rem;
          }
        }
      }
      &_Create {
        &_Item {
          cursor: pointer;
          width: 100px;
          display: flex;
          justify-content: space-between;
          padding: 0.75rem 1rem;
          align-items: center;
          transition: 0.3s;
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 8px;
          &_Text {
            font-size: 1rem;
          }
          &_Icon {
            display: flex;
            align-items: center;
          }
          &:hover {
            transition: 0.3s;
            background-color: rgb(233, 233, 233);
          }
        }
      }
    }
    &_Table {
      & div {
        &:nth-child(2)::-webkit-scrollbar {
          width: 0.75rem;
          height: 0.75rem;
        }
        &:nth-child(2)::-webkit-scrollbar-thumb {
          border-radius: 10rem;
          border-width: 0.2rem;
          border-style: solid;
          background-clip: padding-box;
          background-color: rgba(0, 0, 0, 0.5);
          border-color: transparent;
        }
        &:nth-child(2)::-webkit-scrollbar-button {
          width: 0;
          height: 0;
          display: none;
        }
        &:nth-child(2)::-webkit-scrollbar-corner {
          background-color: transparent;
        }
        &:nth-child(2)::-webkit-scrollbar-track {
          background: inherit;
        }
      }
    }
  }
  &Category,
  &Navbar {
    &_Header {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 1rem;
      &_Item {
        position: relative;
        &_Content {
          cursor: pointer;
          width: 100px;
          display: flex;
          justify-content: space-between;
          padding: 0.75rem 1rem;
          align-items: center;
          transition: 0.3s;
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 16px;
          &_Text {
            font-size: 1rem;
          }
          &_Icon {
            display: flex;
            align-items: center;
          }
          &:hover {
            transition: 0.3s;
            background-color: rgb(233, 233, 233);
          }
        }
      }
    }
    &_Table {
    }
  }
}

.Pop {
  position: fixed;
  display: flex;
  z-index: 111;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(234, 236, 249, 0.4);
  &_Container {
    width: 350px;
    min-width: max-content;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
    background-color: white;
    padding: 1rem;
    &_Input {
      margin-bottom: 1rem;
      & input {
        font-size: 1rem;
        background-color: transparent;
        background-color: #f0f2f5;
        border: none;
        border-radius: 10px;
        padding: 0.75rem 1rem;
        margin-bottom: 0.5rem;
        width: 100%;
        &:focus {
          outline: none;
        }
      }
    }
    &_Button {
      display: flex;
      gap: 1rem;
      justify-content: flex-end;
      &_Confirm {
        cursor: pointer;
        border-radius: 10px;
        color: white;
        padding: 0.5rem 1rem;
        width: max-content;
        border: 1px solid #1e78ff;
        background-color: #1e78ff;
        &:hover {
          background-color: #5597fb;
        }
      }
      &_Close {
        cursor: pointer;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        color: white;
        width: max-content;
        border: 1px solid #ff351e;
        background-color: #ff351e;
        &:hover {
          background-color: #fb5644;
        }
      }
    }
  }
}

.rdt_Table {
  font-size: 1rem;
  border: 1px solid #ccc;
  &:first-child {
    &::-webkit-scrollbar {
      width: 0.75rem;
      height: 0.75rem;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10rem;
      border-width: 0.2rem;
      border-style: solid;
      background-clip: padding-box;
      background-color: rgba(0, 0, 0, 0.5);
      border-color: transparent;
    }
    &::-webkit-scrollbar-button {
      width: 0;
      height: 0;
      display: none;
    }
    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
    &::-webkit-scrollbar-track {
      background: inherit;
    }
  }

  &Head {
    &Row {
      background-color: #e6e9f7 !important;
      overflow: hidden;
    }
  }
  &Col {
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    &:last-child {
      border-right: none;
    }
    border-right: 1px solid #ccc;
  }

  &Body {
    &:last-child {
      border-right: none;
    }
  }

  &Cell {
    display: flex;
    justify-content: center;
    &:first-child {
      display: flex;
      justify-content: center;
    }
    &:last-child {
      border-right: none;
    }
    border-right: 1px solid #ccc;
  }
  .custom-tooltip {
    z-index: 999; /* Đặt thứ tự hiển thị cao hơn */
    position: absolute; /* Đảm bảo tooltip hiển thị đúng vị trí */
  }
}

.IconDataTable {
  &.Danger {
    &:hover {
      color: red;
    }
  }
  &.Primary {
    &:hover {
      color: rgb(0, 76, 255);
    }
  }
}
.rdt_TableHeader {
  text-align: center;
}
.InputIndex {
  width: 60px;
  height: 25px;
  outline: none;
  border: 1px solid #000;
  padding: 0 5px;
  box-sizing: border-box;
}
