.Banner {
  background-image: url("../../../public/images/background_banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 100%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 1.5rem;
  box-shadow: 2px 4px 8px rgb(0 0 0 / 50%);
  &_Container {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin-top: 58px;
    gap: 2rem;
    &_Text {
      width: 100%;
      &_Heading {
        letter-spacing: 1px;
        font-size: 2rem;
        color: white;
        margin-bottom: 1rem;
      }
      &_Content {
        letter-spacing: 1px;
        font-size: 1.25rem;
        width: 80%;
        color: rgb(255, 255, 255, 0.75);
      }
    }
    &_Image {
      width: 350px;
      & img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.Mobile {
  &_Banner {
    background-image: url("../../../public/images/background_banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px; // Giảm chiều cao cho phù hợp với màn hình nhỏ
    width: 100%;
    border-bottom-left-radius: 30px; // Giảm kích thước border-radius
    border-bottom-right-radius: 30px; // Giảm kích thước border-radius
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 1rem; // Giảm khoảng cách dưới
    box-shadow: 2px 4px 6px rgb(0 0 0 / 50%); // Giảm kích thước bóng
    
    &_Container {
      display: flex;
      // flex-direction: column; // Chuyển thành cột cho màn hình nhỏ
      width: 90%;
      justify-content: center;
      align-items: center;
      margin-top: 2rem; // Giảm khoảng cách trên
      gap: 1rem; // Giảm khoảng cách giữa các mục
      
      &_Text {
        width: 100%;
        &_Heading {
          letter-spacing: 0.5px; // Giảm khoảng cách chữ
          font-size: 1.5rem; // Giảm kích thước font
          color: white;
          margin-bottom: 0.5rem; // Giảm khoảng cách dưới
        }
        &_Content {
          letter-spacing: 0.5px; // Giảm khoảng cách chữ
          font-size: 1rem; // Giảm kích thước font
          width: 90%; // Điều chỉnh chiều rộng
          color: rgb(255, 255, 255, 0.75);
          text-align: center; // Căn giữa văn bản
        }
      }
      
      &_Image {
        width: 100%; // Đặt lại chiều rộng hình ảnh
        max-width: 300px; // Giới hạn kích thước hình ảnh
        & img {
          width: 100%;
          height: auto; // Để chiều cao tự động phù hợp với chiều rộng
        }
      }
    }
  }
}
